@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  :root {
    interpolate-size: allow-keywords;
  }
  
  body {
    color: #2d080e;
    background-color: #fbf7ef;
  }
}

@theme inline {
  --color-maroon-50: #fdf2f4;
  --color-maroon-100: #fbe5e8;
  --color-maroon-200: #f7ced5;
  --color-maroon-300: #f0aa9f;
  --color-maroon-600: #9b1c2e;
  --color-maroon-700: #800020;eae0d0
  --color-maroon-800: #610018;
  --color-maroon-900: #4a0e17;
  --color-maroon-950: #2d080e;

  --color-gold-100: #fdf8e6;
  --color-gold-200: #f9eebe;
  --color-gold-300: #f4e292;
  --color-gold-400: #ebd15b;
  --color-gold-500: #d4af37;
  --color-gold-600: #b88e1e;
  --color-gold-700: #916c10;

  --color-cream-50: #fdfbf7;
  --color-cream-100: #fbf7ef;
  --color-cream-200: #f5efe3;
  --color-cream-300: #eae0d0;
  --color-cream-400: #d8c8b2;

  --color-text: #2d080e;
  --color-bg: #fbf7ef;

  --breakpoint-xs: 425px;
}

@utility urdu {
    @apply text-xs xs:text-sm;
    font-family: "Noto Nastaliq Urdu", serif;
    direction: rtl;
}