@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  :root {
    interpolate-size: allow-keywords;
  }
  
  body {
    color: #2d080e;
    background-color: #fbf7ef;
  }
}
:root {
  --maroon-50: #fdf2f4;
  --maroon-100: #fbe5e8;
  --maroon-200: #f7ced5;
  --maroon-300: #f0aa9f;
  --maroon-600: #9b1c2e;
  --maroon-700: #800020;
  --maroon-800: #610018;
  --maroon-900: #4a0e17;
  --maroon-950: #2d080e;

  --gold-100: #fdf8e6;
  --gold-200: #f9eebe;
  --gold-300: #f4e292;
  --gold-400: #ebd15b;
  --gold-500: #d4af37;
  --gold-600: #b88e1e;
  --gold-700: #916c10;

  --cream-50: #fdfbf7;
  --cream-100: #fbf7ef;
  --cream-200: #f5efe3;
  --cream-300: #eae0d0;
  --cream-400: #d8c8b2;

  --text: #2d080e;
  --bg: #fbf7ef;
}

@theme inline {
  --color-maroon-50: var(--);
  --color-maroon-100: var(--maron-100);
  --color-maroon-200: var(--maron-200);
  --color-maroon-300: var(--maron-300);
  --color-maroon-600: var(--maron-600);
  --color-maroon-700: var(--maron-700);
  --color-maroon-800: var(--maron-800);
  --color-maroon-900: var(--maron-900);
  --color-maroon-950: var(--maron-950);

  --color-gold-100: var(--color-gold-100);
  --color-gold-200: var(--color-gold-200);
  --color-gold-300: var(--color-gold-300);
  --color-gold-400: var(--color-gold-400);
  --color-gold-500: var(--color-gold-500);
  --color-gold-600: var(--color-gold-600);
  --color-gold-700: var(--color-gold-700);

  --color-cream-50 : var(--cream-50);
  --color-cream-100: var(--cream-100);
  --color-cream-200: var(--cream-200);
  --color-cream-300: var(--cream-300);
  --color-cream-400: var(--cream-400);

  --color-text: var(--text);
  --color-bg: var(--bg);

  --breakpoint-xs: 425px;
}

@utility urdu {
    @apply text-xs xs:text-sm;
    font-family: "Noto Nastaliq Urdu", serif;
    direction: rtl;
}